html {
  height: 100vh;
  width: 100%;
}
.page-header {
  display: column;
  text-align: center;
  font-family: Roboto;
  padding: 20px;
  background: #ffffff;
}
.heading-links {
  list-style-type: none;
  margin-right: 40px;
  font-size: 22px;
  line-height: 26px;
}
.nav-links {
  color: #1d1d1d;
  text-decoration: none;
}
footer {
  text-align: center;
}
.footer-unordered-lists {
  list-style-type: none;
  margin-left: -41px;
}
.footer-links {
  font-size: 15px;
  display: row;
  color: #1d1d1d;
  text-decoration: none;
}
.footer-lists {
  position: relative;
  display: inline-block;
}

@media (min-width: 640px) {
  .page-header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }
  li {
    display: inline;
  }
  img {
    margin-top: 10px;
  }
  footer {
    display: flex;
    justify-content: space-between;
  }
  footer h4 {
    margin-bottom: 2px;
  }
  .footer-unordered-lists {
    display: block;
  }
  .footer-heading1 {
    float: left;
  }
  .footer-heading2 {
    float: center;
  }
  .footer-heading3 {
    float: right;
  }
}
