html {
  height: 100vh;
  width: 100%;
}
.page-header {
  display: column;
  text-align: center;
  font-family: Roboto;
  padding: 20px;
  background: #ffffff;
}
li {
  list-style-type: none;
  margin-right: 40px;
  font-size: 22px;
  line-height: 26px;
}
a {
  color: #1d1d1d;
  text-decoration: none;
}

@media (min-width: 640px) {
  .page-header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }
  li {
    display: inline;
  }
}
